
img {
  width: 100%;
}

#postamble, #preamble {
  max-width: 60em;
  margin: auto;
}

table > thead > tr > th {
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
}

table > tbody > tr:last-child {
    border-bottom: 2px solid #000;
}

