---
layout: default
---

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} &middot; <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
		<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
	</header>
	<div class="post-content" itemprop="articleBody">
		{{ content }}
    {% if page.tags.first %}
    <p class="tags_">
      Tags: 
      {% for tag in page.tags %} 
      <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}tags/#{{ tag }}">#{{ tag }}</a>
      {% endfor %}
    </p>
    {% endif %}
	</div>
  {% if page.mathjax %}
	<script>
		window.MathJax = {
			tex: {
				inlineMath: [['$', '$'], ['\\(', '\\)']],
			},
			chtml:{
				scale: 1.0
			}
		};

	(function () {
		var mathjaxScript = document.createElement('script');
		mathjaxScript.src = 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js';
		mathjaxScript.async = true;
		document.head.appendChild(mathjaxScript);
	})();
	</script>
  {% endif %}
  {% if page.mermaid %}
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script>mermaid.initialize({startOnLoad:true});</script>
  {% endif %}
</article>

